.sign-up-title {
  padding: 25px;
  margin-bottom: 20px;
}

input {
  margin: 10px;
}

.sign-up-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.password-input {
  width: 250px;
}

.username-input {
  width: 250px;
}

.confirm-input {
  width: 190px;
}
